.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 15px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}