ul li {
  list-style: none;
}

.app-wrapper {
  display: grid;
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;

  grid-template-areas:
  'header header header'
  'nav content content'
  ;

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}
